@model IEnumerable<ConsumeAmazonApi.DTO.ClothingDto>
<div class=" container">
    <div class="row">
        <div class="col-md-10 offset-1">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center bg-secondary text-light">
                        <th>ID</th>
                        <th>ProductName</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>@item.Id</td>
                            <td>@item.ProductName</td>
                            <td>@item.Description</td>
                            <td>@item.Price</td>
                            <td>@item.Brand</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
